@import url("font-awesome.min.css");
@import url("framework.css");

.card{
  position: relative;
  height: 260px;
  width: 500px;
  margin: 75px auto;
  background-color: #FFF;
  box-shadow: 10px 10px 30px 0px rgba(0, 0, 0, 0.75);
}
.card:hover{
	height:270px;
	width:510px;
	margin: 70px auto;
	background-color: #FFFFBB;
}
.card .featuredImage{
  float: left;
  position: relative;
  left: 10px;
  top: -10px;
  height: 200px;
  width: 275px;
  box-shadow: 10px 10px 20px 0px rgba(0, 0, 0, 0.75);
  overflow: hidden;
}
.card h1{
	margin: 0px;
  padding-top: 20px;
  font-size: 1.4rem;
  color: #000000;
}
.card h2{
  padding-top: 0px;
  margin-right: 6px;
  text-align: right;
  font-size: 0.8rem;
}
.card .separator {
  margin-top: 5px;
  border: 1px solid #C3C3C3;
}
.card p {
	text-align:justify;
  padding-top: 10px;
  font-size: 0.95rem;
  line-height: 150%;
  color: #4B4B4B;
}
.card h5 {
  position: absolute;
  left: 30px;
	margin-top:17px;
  font-size: 2rem;
  color: #C3C3C3;
}
.card li {
	margin: 20px 0px;
  display: inline-block;
  padding-right: 20px;
  color: #EE7500;
}
.card li:hover{
	color:#D69764;
}

.centered{
  display:block;
  margin:0 auto;
	max-width:978px;
}

.container{
	padding:80px 0;
}

.fakeParallax{
	background-size: cover;
	background-repeat:no-repeat;
	background-attachment: fixed;
	background-position: center right;
}

.form {
  border-radius: 5px;
  background-color: rgba(255,255,187,0.5);
  padding: 120px;
}

#header .logo {
	margin:30px 0 0 0;
}
#header .logo h1{
	margin:0;
	padding:0;
	font-size:22px;
}
#header .logo a{
	color:#393D40;
}
#header .logo a:hover{
	color:#EE7500;
}

.headerImg{
	background-size:cover;
	background-position:bottom right;
}
.headerImgTwo{
		background-size:cover;
		background-position: top right;
		border-bottom: solid #EE7500 5px;
}

img.left{
  position: absolute;
  height: 100%;
  width: auto;
}

.infoboxes li{
  padding:25px 0 0 0;
  text-align:center;
}
.infoboxes li *{
  margin:0;
  line-height:1.6;
}
.infoboxes article{
  display:block;
  position:relative;
  padding:35px 20px 25px 20px;
  color:#393D40;
  background-color:rgba(255,255,187,0.65);
}
.infoboxes article i{
  display:inline-block;
  position:absolute;
  top:0;
  left:50%;
  width:50px;
  height:50px;
  line-height:50px;
  margin:-25px 0 0 -25px;
  font-size:18px;
  z-index:1;
}
.infoboxes article .fa{
  font-size:18px;
  color:#F1EDEA;
  background-color:#EE7500;
}
.infoboxes article:hover{
  background-color:#F1EDEA;
}

input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #636363;
  border-radius: 2px;
  margin: 6px 0px 16px;
}

#pageintro{
	padding:250px 0;
	display:block;
	max-width:60%;
	color:#393D40;
	text-align: right;
}
#pageintro .heading{
	font-size:3rem;
}
#pageintro p{
	font-size:1.2rem;
	margin: 45px 0px 60px;
}

.right{
  margin-left: 320px;
  margin-right: 15px;
}

.row1{
	z-index:1;
	color:#393D40;
	box-shadow:0 5px 10px rgba(0,0,0,.15);
	margin-top:-10px;
}

.search_bar input{
	border:none;
	width:100%;
	padding:6px 20px;
	background-color:rgba(238,117,0,0.8);
	color: white;
}

.sectiontitle{
  margin-bottom:80px;
}

.smallHero #pageintro{
	padding:100px 0;
}

.wrapper{
  display:block;
  position:relative;
  width:100%;
  text-align:left;
}

#footer{padding:80px 0;}
#footer .heading{margin-bottom:50px; font-size:1.2rem;}
#footer nav{margin-bottom:30px; text-transform:uppercase;}
#footer nav ul{}
#footer nav ul li{display:inline-block; margin-right:20px;}
#footer nav ul li:last-child{margin-right:0;}
#footer .linklist li{display:block; margin-bottom:15px; padding:0 0 15px 0; border-bottom:1px solid;}
#footer .linklist li:last-child{margin:0; padding:0; border:none;}
#footer .linklist li::before, #footer .linklist li::after{display:table; content:"";}
#footer .linklist li, #footer .linklist li::after{clear:both;}
#footer .contact{}
#footer .contact.linklist li, #footer .contact.linklist li:last-child{position:relative; padding-left:40px;}
#footer .contact li *{margin:0; padding:0; line-height:1.6;}
#footer .contact li i{display:block; position:absolute; top:0; left:0; width:30px; font-size:16px; text-align:center;}
#footer nav a{
	color:#F1EDEA;
}
#footer nav li:first-child a, #footer nav a:hover{
	color:#EE7500;
}

#copyright{padding:20px 0;}
#copyright *{margin:0; padding:0;}

nav ul, nav ol{margin:0; padding:0; list-style:none;}

#mainav, #breadcrumb, .sidebar nav{line-height:normal;}
#mainav .drop::after, #mainav li li .drop::after, #breadcrumb li a::after, .sidebar nav a::after{
	position:absolute; font-family:"FontAwesome"; font-size:10px; line-height:10px;}
#mainav li a{
	color:#393D40;
}
#mainav a:active, #mainav a:hover, #mainav li:hover > a{
	color:#EE7500;
}
#mainav li li a{
	color:#F1EDEA;
	background-color:rgba(238,117,0,.7);
	border-color:rgba(0,0,0,.1);
}
#mainav li li:hover > a{
	color:#F3FFFC;
	background-color:#EE7500;
}
#mainav{}
#mainav ul{text-transform:uppercase;}
#mainav ul ul{z-index:9999; position:absolute; width:180px; text-transform:none;}
#mainav ul ul ul{left:180px; top:0;}
#mainav li{display:inline-block; position:relative; margin:0 15px 0 0; padding:0;}
#mainav li:last-child{margin-right:0;}
#mainav li li{width:100%; margin:0;}
#mainav li a{display:block; padding:30px 0;}
#mainav li li a{border:solid; border-width:0 0 1px 0;}
#mainav .drop{padding-left:15px;}
#mainav li li a, #mainav li li .drop{display:block; margin:0; padding:10px 15px;}
#mainav .drop::after, #mainav li li .drop::after{content:"\f0d7";}
#mainav .drop::after{top:35px; left:5px;}
#mainav li li .drop::after{top:15px; left:5px;}
#mainav ul ul{visibility:hidden; opacity:0;}
#mainav ul li:hover > ul{visibility:visible; opacity:1;}
#mainav form{display:none; margin:0; padding:0;}
#mainav form select, #mainav form select option{display:block; cursor:pointer; outline:none;}
#mainav form select{width:100%; padding:5px; border:1px solid;}
#mainav form select option{margin:5px; padding:0; border:none;}

table, th, td{border:1px solid; border-collapse:collapse; vertical-align:top;}
table, th{table-layout:auto;}
table{width:100%; margin-bottom:15px;}
th, td{padding:5px 8px;}
td{border-width:0 1px;}

.faico{margin:0; padding:0; list-style:none;}
.faico li{display:inline-block; margin:8px 5px 0 0; padding:0; line-height:normal;}
.faico li:last-child{margin-right:0;}
.faico a{display:inline-block; width:36px; height:36px; line-height:36px; font-size:18px; text-align:center;}
.faico a{color:#FFFFFF; background-color:rgba(207,72,69,.5)/* #CF4845 */;}

body{
	color:#393D40;
	background-color:#636363;
}

a{
	color:#EE7500;
}
a:active, a:focus, a:hover{
	background:transparent;
	color:#636363
}

hr, .borderedbox{border-color:#D7D7D7;}
label span{color:#FF0000; background-color:inherit;}
input:focus, textarea:focus, *:required:focus{border-color:#CF4845;}
.overlay{color:#FFFFFF; background-color:inherit;}
.overlay::after{color:inherit; background-color:rgba(0,0,0,.55);}
.overlay.coloured::after{color:inherit; background-color:rgba(207,72,69,.5)/* #CF4845 */;}

.btn, .btn.inverse:hover{
	color:#F1EDEA;
	background-color:#EE7500;
	border-color:#D69764;
}
.btn:hover, .btn.inverse{
	color:#393D40;
	background-color:#F1EDEA;
	border-color:393D40;
}
